@theme {
  --color-vox-primary: #991b1b;
  /* اللون الفاتح جداً ليعطي تأثير فخم عند مرور الماوس */
  --color-vox-light: #fef2f2; 
}

/* لضمان الأولوية القصوى */
.bg-vox-primary {
  background-color: #991b1b !important;
}

.text-vox-primary {
  color: #991b1b !important;
}

/* إضافة لمسة احترافية للـ Hover من الريموت */
.hover\:bg-vox-light:hover {
  background-color: #fef2f2 !important;
  color: #991b1b !important;
}